<div id="agent-detail-dialog" class="dialog-wrapper">
  <div class="dialog-scroll">
    <div class="dialog" style="max-width: 500px;">
      <div class="dialog-header">
        <div class="dialog-close"><i class="fa fa-times"></i></div>
      </div>
      <div class="dialog-body" style="padding: 0;">
        <div style="padding-top: 50px;padding-left: 20px;">
          <span>PROFILE</span>
        </div>
        <div class="agent-detail-box">
          <div class="bg">
            <img id="agent-detail-dialog-image" class="img" src="" alt="">
            <div class="text">
              <div id="agent-detail-dialog-name" class="name"></div>
              <div id="agent-detail-dialog-title" class="com-title"></div>
              <div id="agent-detail-dialog-licence-wrapper" class="detail-info">Licence No. <span id="agent-detail-dialog-licence"></span></div>
              <div class="detail-info">Direct <span id="agent-detail-dialog-direct"></span></div>
              <div class="detail-info">Mobile <span id="agent-detail-dialog-mobile"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>