<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ART & HOME</title>
  {% include "../base/base.html" %}
</head>
<body>
  {% include "../base/header.html" %}
  {% import "../base/forms.html" as forms %}
  <div class="container" style="margin-top: 30px; margin-bottom: 25px; max-width: 730px;">
    <h1 class="text-center">ART & HOME</h1>
    <p class="career-desc text-center" style="margin-bottom: 40px;">Luxury property magazine (Name to be confirm), a carefully crafted publication distributed to the top tier of Hong Kong Sotheby’s Auction House and Sotheby’s International Realty clients, features detailed descriptions combined with high-resolution, artistic photography highlighting the most current luxury properties in Hong Kong, with a dedicated section promoting the most recent upcoming Sotheby’s Auction House events.</p>
  </div>
  {% include "../base/footer.html" %}
</body>
</html>
