<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AUCTION HOUSE</title>
  {% include "../base/base.html" %}
</head>
<body>
  {% include "../base/header.html" %}
  {% import "../base/forms.html" as forms %}
  <div class="container" style="margin-top: 30px; margin-bottom: 25px; max-width: 730px;">
    <h1 class="text-center">AUCTION HOUSE</h1>
    <p class="career-desc text-center" style="margin-bottom: 40px;">Since its inception in 1744, Sotheby’s Auction House has long been revered as the oldest and most internationally respected auction house of fine art in the world. Given its vibrant financial climate and multinational scope, the auction house has long held a prominent position in Hong Kong since 1973.</p>
    <p class="career-desc text-center" style="margin-bottom: 40px;">The close collaboration of Sotheby’s Auction House with List Sotheby’s International Realty is the perfect marriage of an appreciation of fine art with that of luxury real estate. Their collaboration during the highly anticipated Spring and Autumn Sales auctions, held in May and October respectively (official titles and dates needed), promotes a strong joint presence, illuminating a key channel of new business opportunities in the region. </p>
  </div>
  {% include "../base/footer.html" %}
</body>
</html>
