<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSR</title>
  {% include "../base/base.html" %}
</head>
<body>
  {% include "../base/header.html" %}
  {% import "../base/forms.html" as forms %}
  <div class="csr-bg"></div>
  <div class="container" style="margin-top:50px;">
    <h1 class="text-center title-parg">Corporate Social Responsibilities </h1>
    <p class="career-desc" style="margin-bottom: 50px;">While we strive to maintain the strongest team to remain competitive in the property industry, it is not at the expense of our commitment to our staff and the wellbeing of our associates and how they impact the community. In providing a sound work environment with competitive benefits, we are proud to attract and retain an outstanding group of individuals with a true passion for what they do. As part of List Sotheby’s International Realty, we are honored to represent the best of the industry and anticipate future opportunities to give back to the local community. </p>
  </div>
  <div class="csr-contact">
    <h2 class="title-h1">Contact Us</h2>
    <div class="flex-box">
      <div class="item">
        <div class="img tel"></div>
        <label>+852 3793 3688</label>
      </div>

      <div class="item">
        <div class="img email"></div>
        <label>info@listsirhk.com</label>
      </div>

      <div class="item">
        <div class="img address"></div>
        <p class="address-desc">1/F,33 Des Voeux Road Central,<br>Central,Hong Kong</p>
      </div>
    </div>
  </div>
  {% include "../base/footer.html" %}
</body>
</html>
