<script async defer src="https://use.fontawesome.com/6d0b3b06b9.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<script src="/public/js/jquery.js"></script>
<script src="/public/js/jquery.throttle.js"></script>
<script src="/public/js/jquery.validate.js"></script>
<script src="/public/js/jquery.tooltip.js"></script>
<script src="/public/js/global.js?=v=1.1.27"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css"> 
<link rel="stylesheet" href="public/css/main.css?v=1.1.27">
<link rel="icon" href="/favicon.ico?v=2" />

<script type="text/javascript">
  $(function () {
      $("[data-toggle='tooltip']").tooltip();
  });
</script>