// video
.video-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  .vider-type {
    display: inline-block;
    .item {
      padding-left: 20px;
      padding-right: 20px;
      height: 25px;
      display: inline-block;
      cursor: pointer;
      font-weight: 100;
      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        width: 18px;
        background-color: #fff;
        height: 2px;
        bottom: 0;
        left: 50%;
        margin-left: -9px;
        transition: all .4s;
      }
      &.active {
        font-weight: 500;
        &:after {
          background-color: @primary-color;
        }
      }
    }
  }
  .tab-item {
    display: none;
    margin-top: 30px;
    &.active {
      display: block;
    }
  }
  .video-box {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    .name {
      position: absolute;
      color: white;
      font-size: 14px;
      top: 15px;
      left: 15px;
    }
    .length {
      font-size: 12px;
      position: absolute;
      bottom: 15px;
      color: white;
      right: 15px;
    }
    &:after {
      position: absolute;
      content: ' ';
      display: none;
      width: 30px;
      height: 30px;
      left: 50%;
      margin-left: -15px;
      background: black;
      transform: rotate(45deg);
      bottom: -30px;
    }
    &.selected:after {
      display: block;
    }
  }
  .video-list {
    position: relative;
    .video-play-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      display: none;
      background: black;
      // height: 400px;
      .video-play-body {
        padding: 30px 10px;
        position: relative;
        .close {
          font-size: 20px;
          cursor: pointer;
          color: white;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
      
    }
  }
  .video-area {
    background:#DCE5F4;
  }
  .video-info {
    text-align: left; 
    .item {
      position: relative;
      display: inline-block;
      color: white;
      padding: 5px;
      margin-right: 15px;
      cursor: pointer;
      &:after {
        content: ' ';
        position: absolute;
        width: 18px;
        background-color: black;
        height: 2px;
        bottom: 0;
        left: 50%;
        margin-left: -9px;
        transition: all .4s;
      }
      &.active {
        font-weight: 500;
        &:after {
          background-color: white;
        }
      }
    }
  }
  .info-tab {
    color: white;
    text-align: left;
    display: none;
    &.active {
      display: block;
    }
    .title {
      margin-top: 20px;
      font-size: 14px;
    }
    .desc {
      font-size: 12px;
      margin-top: 30px;
      overflow-y: scroll;
    }
  }
  .share-type-box {
    .share {
      padding-top: 5px;
      padding-bottom: 5px;
      color: #5682CE;
      .header {
        cursor: pointer;
      }
    }
    .share-content {
      padding-top: 10px;
      padding-bottom: 10px;
      display: none;
      .input {
        width: 100%;
        background: black;
        outline: none;
        border: 0;
        margin-bottom: 8px;
        color: white;
        border-bottom: 1px solid white;
      }
      .btn {
        background: white;
        margin-top: 10px;
        color: black;
        width: 100px;
      }
    }
  }
  .links {
    display: inline-block;
    float: right;
    li {
      display: inline-block;
      padding: 0 5px;
      .share-icon {
        display: inline-block;
        width: 19px;
        height: 19px;
        background-size: cover;
        &.fb {
          background-image: url(/public/icon/share_fb.png);
        }
        &.ins {
          background-image: url(/public/icon/share_ig.png);
        }
        &.linkin {
          background-image: url(/public/icon/share_linkedin.png);
        }
        &.wechat {
          background-image: url(/public/icon/share_wechat.png);
        }
      }
    }
  }
}

// history
.history-bg {
  background-image: url(/public/images/about/history.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  height: 520px;
  margin-bottom: 30px;
}

.history-bg-full-width {
  img {
    width: 100%;
  }
}

.career-bg {
  background-image: url(/public/images/careers_bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 520px;
  margin-bottom: 30px;
}

.csr-bg {
  background-image: url(/public/images/csr/csr-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 520px;
  margin-bottom: 30px;
}

.marketing-home-bg {
  background-image: url(/public/images/about/hero.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 520px;
  margin-bottom: 40px;
  position: relative;
  .header {
    position: absolute;
    bottom: 30%;
    right: 0;
    left: 0;
    color: white;
    text-align: center;
  }
  .right-corner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: white;
  }
}

.marketing-home-wrapper {
  max-width: 910px;
  margin: 0 auto;
  font-size: 16px;
  .career-desc,.join-team-desc{
    padding:0px;
  }
  h1 {
    color: #002b5c;
    margin-bottom: 30px;
  }
  p {
    margin-bottom:30px;
  }
}

.contact-us-bg {
  background-image: url(/public/images/contact_us_bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 320px;
  margin-bottom: 30px;
}

.brand-heritage {
  margin: 0 auto;
  max-width: 910px;
  p {
    margin-bottom: 25px;
  }
  .row {
    margin-bottom: 25px;
    .col-md-4 img,.col-xs-12 img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

  }
  
}

.brand-heritage-wrapper{
  background-color: #FAFAFA;margin-top: 40px;padding:40px 0 5px;
  .banner-item{
    max-width:910px;
    margin:0 auto 30px;
    img{
      width:100%;

    }
  }
}



//csr

.csr-wrapper{


  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 0;
  font-size: 0;
  a{
    color: #fff;
    text-decoration: none;
  }
  .video-wrapper{
    // position: relative;
    width: 910px;
    padding-bottom:27%;
    height: 510px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    
  }
  .container{
    margin-top: 40px;

  }     
   .career-desc{
    margin-bottom: 40px;
  }
  .car-desc-remark{
    font-weight: 400;font-style: normal;color: #585858;font-size:12px ;
    margin-top:5px;
    line-height: 1.2em   }
 
  .csr-wrapper-item{
    display: inline-block;
    padding-left: 0;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    font-size: 15px;
    font-size: 1rem;
    position: relative;

//    .image-holder{max-height: 680px;
//     // min-height: 215px;
// } 

    .o-smartimage,.s-title-smartimage {
      display: block;
      overflow: hidden;
      -webkit-transition: all .1s ease-out;
      transition: all .1s ease-out;
      // position: relative;
      direction: ltr;
      z-index: 1;
      width: 100%;
      // height: 100%;
      font-size: 0;
      text-align: center;
      // position: relative;
      img{
        border: 0;
        min-width: 100%;
        width: 100%;
        height: auto;
        z-index: 2;
        margin: auto;
        overflow: hidden;
      }
 
    }
    // .s-title-smartimage img{
    //   margin-top: -35%;
    // }
    .s-title-on-image-sec{
      width: 50%;
      z-index: 3;
      position: absolute;
      top: 8%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      text-align: center;
      margin-top: 80px;
  }
      h2{
        padding-bottom: 40px;
        color: #333;
        font-size: 2.67em;
        text-transform: uppercase;
        line-height: 1.25;
        font-weight: 400;
        font-style: normal;
      }
      .s-text{
        color: #333;
        font-size: 1.28em;
        background-color: rgba(255,255,255,0.7);
      }
      img{
        max-width: 100%;
        height: auto;
        border: 0;
      }
  }
    .s-title-on-image{
      text-transform: uppercase;
      width: 50%;
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      text-align: center;
      h2{
        padding-bottom: 40px;
        font-size: 3.2em;
        color: #fff;
        font-weight: 400;
        font-style: normal;
      }
      img{
        max-width: 100%;
        height: auto;
        border: 0;
      }
  }
    }


// contact us
.contact-block {
  margin-bottom: 40px;
  margin-top: 40px;
}
.contact-service {
  height: 500px;
  padding: 8px;
  .item {
    margin-bottom: 26px;
    position: relative;
    .img {
      display: inline-block;
      background-color: #cccccc;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin-top: -6px;
      vertical-align: middle;
      background-size: contain;
      &.tel {
        background-image: url(/public/icon/icon_tel.png);
      }
      &.email {
        background-image: url(/public/icon/icon_email.png);
      }
      &.address {
        background-image: url(/public/icon/icon_address.png);
      }
    }
    label {
      margin-left: 12px;
    }
    .address-desc {
      display: block;
      position: absolute;
      top: 0;
      left: 50px;
    }
  }

}

.enqury-desc {
  font-size: 16px;
  margin-top: 0px;
  line-height: 30px;
  margin-bottom: 30px;
}

.contact-map {
  height: 220px;
  .google-map {
    height: 100%;
  }
}

.contact-us-h2 {
  margin-bottom: 14px;
  padding-top: 8px;
}

.field-row {
  margin-bottom:15px;
}

.career-desc {
  font-size: 16px;
  margin-top: 0px;
  line-height: 30px;
  padding:0 8px;
}

.management-pic-wrapper {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    width: 250px;
    border-radius: 50%;
  }
}

.management-wrapper {
  .career-desc {
    padding:0 8px;
  }
}

.history-wrapper {
  width: 100%;
  position: relative;
  .slide-left-btn, .slide-right-btn {
    position: absolute;
    top: 80px;
    z-index: 10;
    cursor: pointer;
    span {
      display: block;
    }
    .icon {
      width: 72px;
      height: 72px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3);
      line-height: 72px;
      border-radius: 50%;
      i {
        color: white;
        font-size: 70px;
      }
    }
    .text {
      position: absolute;
      top: 75px;
      width: 100px;
      height: 100px;
    }
    .year {
      color: @primary-color;
      font-size: 33px;
    }
    .title {
      color: #ccc;
      font-size: 15px;
    }
  }
  .slide-left-btn {
    left: 20px;
  }
  .slide-right-btn{
    right: 20px;
  }
}
.iosslider {
  /* required */
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1140px;
  height: 400px;

}

/* slider */
.iosslider .slider {
  /* required */
  width: 100%;
  height: 100%;
}

/* slide */
.iosslider .slider .slide {
  /* required */
  float: left;
  max-width: 1140px;
  height: 400px;
}

.history-box {
  margin: 40px 120px 0 120px;
  display: flex;
  .column-img {
    width: 213px;
  }
  .column-text {
    color: #585858;
    .title {
      font-size: 26px;
      .year {
        font-size: 32px;
        color: @primary-color;
      }
    }
    .desc {
      margin-top: 22px;
      font-size: 15px;
    }
    margin-left: 20px;
  }
  img {
    width: 213px;
    height: 208px;
  }
}
.time-line {
  height: 135px;
  position: relative;
  overflow: hidden;
  &:before {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100px;
    background-color: #cccccc;
  }
  .slider {
    height: 135px;
    margin-left: 10px;
    display: inline-block;
    .slide {
      overflow: visible !important;
      &.selected .box-content {
        background-color: rgba(54, 54, 54, .5);
      }
    }
    .slider-box {
      position: relative;
      margin: 0 10px;
      width: 216px;
      height: 76px;
      background-repeat: no-repeat;
      background-size: cover;
      .box-content {
        color: white;
        font-size: 12px;
        background-color: #363636;
        height: 100%;
        padding: 15px;
      }
      .angle {
        position: absolute;
        bottom: -14px;
        left: 0;
        border-top: 14px solid #363636;
        border-right: 14px solid transparent;
      }
      .year {
        position: absolute;
        bottom: -56px;
        left: 0;
        color: #7E7E7E;
      }
    }
  }
}

.mobile-history-box {
  display: block;
  margin-bottom: 40px;
  .column-img {
    padding: 5px;
    text-align: right;
  }
  .column-text {
    color: #585858;
    .title {
      font-size: 26px;
      .year {
        font-size: 32px;
        color: #cccccc;
      }
    }
    .desc {
      margin-top: 22px;
      font-size: 15px;
    }
    margin-left: 20px;
  }
  img {
    width: 398px;
    height: 389px;
  }
}

.csr-contact {
  padding: 8px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 850px;
  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 100;
  }
  .flex-box {
    display: flex;
    .item {
      margin-bottom: 26px;
      position: relative;
      flex: 1;
      .img {
        display: inline-block;
        background-color: #cccccc;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-top: -6px;
        vertical-align: middle;
        background-size: contain;
        &.tel {
          background-image: url(/public/icon/icon_tel.png);
        }
        &.email {
          background-image: url(/public/icon/icon_email.png);
        }
        &.address {
          background-image: url(/public/icon/icon_address.png);
        }
      }
      label {
        margin-left: 12px;
      }
      .address-desc {
        display: block;
        position: absolute;
        top: 0;
        left: 50px;
      }
    }
  }
  
}

.full-disclaimer-header-wrapper {
  width: 100%;
  background-color: black;
  .full-disclaimer-header {
    height: 50px;
    width: @container-width;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
  }
}

.full-disclaimer-body {
  .subheader {
    margin: 20px 0;
  }
  .main-header {
    margin-bottom: 30px;
    .icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-size: contain;
      background-image: url(/public/images/about/full_disclaimer_homeicon.png);
    }
  }
  .par {
    margin-bottom: 30px;
  }
}

//careers

.career-wrapper{
  width: 100%;
  .career-desc{
    margin-bottom: 25px;
  }

}

@media (max-width: 750px) { 
  .time-line {
    display: none;
  }
  .history-box {
    margin: 16px 40px;
    display: block;
    .column-img {
      width: 100%;
      text-align: center;
    }
  }

  .history-wrapper .slide-left-btn .title, .history-wrapper .slide-right-btn .title {
    display: none;
  }

  .history-wrapper .slide-left-btn .year, .history-wrapper .slide-right-btn .year {
    display: none;
  }
  .history-wrapper .slide-left-btn .icon, .history-wrapper .slide-right-btn .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .history-wrapper .slide-left-btn .icon i, .history-wrapper .slide-right-btn .icon i {
    font-size: 40px;
  }

  .iosslider {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1140px;
    height: 600px;
  
  }
  
  /* slide */
  .iosslider .slider .slide {
    height: 600px;
  }

  .career-bg {
    height: 300px;
  }
  .csr-bg {
    height: 300px;
  }
  .marketing-home-bg {
    height: 300px;
  }
  .csr-wrapper .csr-wrapper-item
  {
    .s-title-on-image{
    width:75%;
    h2{
      font-size: 1.5em;
      padding-bottom: 20px;
    }
  }

} 

  .csr-wrapper
  {
    .video-wrapper{
      
          padding-bottom: 0px;
          // left: -50%;
          // margin: 0 -18px 20px;
          //  -webkit-transform: scale(.35)!important;
          //   -webkit-transform-origin: 0% 0%!important;
          width: 100%;
          height: auto;
          iframe{
            height: auto;
            min-height: 250px;
      
          }
        }
      
   .title-parg{
      padding:0 15px;
    }
 .career-desc {
    margin-bottom: 40px;
}
  

.s-title-on-image-sec{
  width: 80%!important;
  margin-top: 50px!important;
  h2{
    font-size: 1em!important;
    padding-bottom: 6px!important;
  }
  .s-text{
    font-size: .6em!important;
    br{
      display: none!important;
    }
  }
}

  }
}

@media (max-width: 600px) { 
  .csr-contact .flex-box {
    display: block;
    .item {
      margin-left: 30px;
    }
  }
}
