<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>International</title>
  {% include "../base/base.html" %}
  <script src="/public/js/jquery.iosslider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>  
</head>
<body>
  {% include "../base/header.html" %}
  {% import "../base/forms.html" as forms %}
  {% include "../our-team/member-detail.html" %}
  {% include "./detail-dialog.html" %}
  <div class="s-container" style="position: relative;">
    <div style="padding-left: 8px; margin-bottom: 0px;" class="link-map">
      <a href="/">Home &gt;</a> 
      <a href="">International &gt;</a> 
      <a href="javascript:void(0);">{{property.urlName}}</a>
    </div>
    <div style="padding-left: 8px;color: #858585;font-size: 12px;margin-top:22px;">
      PROPERTY INFO
    </div>
    <a href="/international-list"> <button class="common-btn back-to-results">Back to Results</button></a>
  </div>

  <div class="detail-banner">
    <div class="banner">
      <div class="s-container banner-wrapper">
        <h3>{{property.name}}</h2>
        <span>{{property.address}}</span>
        <div class="love_share">
          <!-- <div class="btn">
            <div class="icon icon_love"></div>
          </div> -->
          <div data-dialog='share-dialog' class="btn">
            <div class="icon icon_share"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% include "./gallery.html" %}

  <div class="property-desc">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="left-box">
          <div class="property-box" style="border-bottom: 1px solid #cccccc; margin-bottom: 20px;">
         
            <div class="body">
                <div class="title toggle">
                    <!-- <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span class="min"><i class="fa fa-minus" aria-hidden="true"></i></span>
                    Property Description -->
                    {{property.title}}
                  </div>
              {% for item in property.propertyDesc %}
                <span style="margin-left: 0; margin-bottom: 10px; margin-top: 10px; display: inline-block;">{{item}}</span>  <br>
              {% endfor %}
            </div>
          </div>
          <script>
            $('.toggle').on('click', function(e) {
              $(e.currentTarget).parent().toggleClass('hide').children().last().slideToggle(200);
            });
          </script>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="right-box">
          <div class="sale-info-box"> 
            <div class="title">
              ENQUIRIES
            </div> 
            <div class="enquiry-body"> 
              <div style="position: relative;"> 
              <form id="enquiry-box-form" onsubmit="return false;" class="enquiry-form"> 
                <div class="row"> 
                <div class="col-md-12 field-row"> 
                  <div class="input-field"> 
                    <label for="enquiry-box-name"> NAME </label> 
                    <input maxlength="255" autocomplete="off" name="enquiry-box-name" value="" type="text" id="enquiry-box-name" /> 
                    <div class="xline"></div> 
                  </div> 
                </div> 
                <div class="col-md-12 field-row"> 
                  <div class="input-field"> 
                    <label for="enquiry-box-mobile">PHONE </label> 
                    <input maxlength="255" autocomplete="off" name="enquiry-box-mobile" value="" type="text" id="enquiry-box-mobile" /> 
                    <div class="xline"></div> 
                  </div> 
                </div> 
              </div> 
              <div class="row"> 
                <div class="col-md-12 field-row"> 
                  <div class="input-field"> 
                    <label for="enquiry-box-email">EMAIL </label> 
                    <input maxlength="255" autocomplete="off" name="enquiry-box-email" value="" type="text" id="enquiry-box-email" /> 
                    <div class="xline"></div> 
                  </div> 
                </div> 
                </div>
              <div class="row"> 
                <div class="col-md-12 field-row"> 
                  <div class="input-field"> 
                    <label for="enquiry-box-budget">BUDGET </label> 
                    <input maxlength="255" autocomplete="off" name="enquiry-box-budget" value="" type="text" id="enquiry-box-budget" /> 
                    <div class="xline"></div> 
                  </div> 
                </div> 
              </div> 
              <div class="row"> 
                <div class="col-md-12 field-row"> 
                  <div class="text-area-field"> 
                    <textarea maxlength="20480" name="enquiry-box-message" id="enquiry-box-message" placeholder="Please let us know more about the type of property you are looking for..."></textarea> 
                  </div> 
                </div> 
              </div> 
              <div class="row"> 
                <div class="col-md-1 chekbox-width-10"> 
                <div class="mockup-checkbox  enquiry-checkbox-area"> 
                  <input checked name="enquiry-box-has_enquiry" value="enquiry-box-has_enquiry-true" type="checkbox" id="enquiry-box-has_enquiry-true" /> 
                    <label class="mock-label" for="enquiry-box-has_enquiry-true"> <i class="fa fa-check" aria-hidden="true"></i> </label> 
                  </div> 
                </div>
                
                <div class="col-md-11  col-xs-12 field-row checkbox-area mgl10"> 
                  <div class="mockup-checkbox"> 
                    <label for="enquiry-box-has_enquiry-true">Stay tuned with our new listings and be the first one to preview our magazine, COLLECTION. </label> 
                  </div> 
                </div> 
              </div>
              <div class="row"> 
                <div class="col-md-12"> 
                  <div class="enquiriy-request"> 
                    <button id="submit-enquiry-box" style="max-width:140px;" class="common-btn">LET'S CONNECT</button> 
                  </div> 
                </div> 
                <input type="hidden" name="enquiry-box-type" value="{{property.queryType}}">
                </div> 
              </form> 
              </div> 
            </div> 
          </div>
          <script>
            $(document).ready(function() {
              $('#enquiry-box-form').validate({
                rules: {
                  "enquiry-box-email": {
                    required: true,
                    email: true
                  },
                  "enquiry-box-name": {
                    required: true
                  },
                  "enquiry-box-budget": {
                    required: true,
                    number: true
                  },
                  "enquiry-box-mobile": {
                    mobile: true
                  }
                }
              });
              $('#submit-enquiry-box').click(function() {
                if($('#enquiry-box-form').valid()) {
                  var data = {
                    enquiry_type: $('input[name="enquiry-box-type"]').val().trim(),
                    name: $('input[name="enquiry-box-name"]').val().trim(),
                    mobile: $('input[name="enquiry-box-mobile"]').val().trim(),
                    email: $('input[name="enquiry-box-email"]').val().trim(),
                    message: $('textarea[name="enquiry-box-message"]').val().trim(),
                    budget: $('input[name="enquiry-box-budget"]').val().trim(),
                  };
                  $.ajax({
                    method: 'post',
                    data: data,
                    dataType: 'json',
                    url: '/api/enquiry/',
                    success: function() {
                      G.mNotic('Sent Successfully');
                      $('#enquiry-box-form')[0].reset();
                    },
                    error: function(err) {
                      G.mNotic('Sent Error.' + err.responseText, 'error');
                    }
                  });
  
                  $.ajax({
                    method: 'post',
                    data: {
                      email: $('input[name="enquiry-box-email"]').val().trim(),
                      is_subscribed: $('input[name="enquiry-box-has_enquiry"]:checked').length > 0
                    },
                    dataType: 'json',
                    url: '/api/subscription/',
                    success: function() {
                      
                    },
                    error: function(err) {
                      
                    }
                  });
                }
              });
            });
          </script>
          <style>
            .enquiry-body{
              padding: 15px;
              background-color: #F4F4F4;
            }
              .enquiriy-request {
                margin: 0 auto;
                text-align: center;
                padding: 15px 0;
            }
              .mockup-checkbox{
               width: 95%;
              }
              .enquiry-checkbox-area{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
              .enquiry-form .checkbox-area label{
                font-size:12px;font-weight:100;;
              }
              .chekbox-width-10{
                font-size:12px;
                width:10px;
              }
              .mgl10{
                margin-left:25px;
              }
              @media (max-width: 600px) { 
                .enquiry-body{
              padding: 15px 8px;
           
            }
}
            </style>
        </div>
      </div>
    </div>
  </div>
  {% include "../base/footer.html" %}
</body>
</html>