<section class="home-video">
  <video id="video-el">
    <source src="https://sothebysrealty.ca/videos/hp_agents.mp4" preload="auto" type="video/mp4">
  </video>
  <div class="black-drop">
    <div class="content">
      <h2>THE LEGEND</h2>
      <p>When we considered how much we wanted this iMac to be capable of, it was clear that only one graphics chip would do — but that chip didn’t exist yet. So iMac Pro is debuting a new one. The Radeon Pro Vega is over three times faster than any previous iMac GPU, packing the power of a double-wide graphics card into a single chip. All of which translates to higher frame rates for VR, real-time 3D rendering, more lifelike special effects, and gameplay at max settings. It’s one huge reason iMac Pro is power incarnate.</p>
      <button id="play-btn">Play Video</button>
    </div>
  </div>
</section>