<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Your Property</title>
  {% include "../base/base.html" %}
</head>
<body>
  {% include "../base/header.html" %}
  {% import "../base/forms.html" as forms %}
  <div class="container">
    <div class="link-map">
      <a href="/">Home ></a>
      <a href="#">List Your Property</a>   
    </div>
    <h1 style="margin-top: 40px;" class="title-parg text-center">List Your Property</h1>
    <p class="career-desc mb30">
      With our innovative marketing tools, we can make your treasured property distinctive with our unparalleled connection to the luxury property market. Let our professional sales associates begin the journey and connect you with the group of potential clients. List your property with us today!
    </p>

    <form id="list_property_form" onsubmit="return false;" method="get" class="search-form">
      <div class="row">
        <div class="col-md-1 col-sm-6 col-xs-12">
          {{forms.radio('listing_type', 'SA', 'SALE', {top: '16px'})}}
        </div>
        <div class="col-md-1 col-sm-6 col-xs-12">
          {{forms.radio('listing_type', 'LA', 'RENT', {top: '16px'})}}
        </div>
        <div class="clear"></div>
        <div style="margin-bottom: 20px; margin-left: 15px;">
            <label id="listing_type-error" style="display:none;" class="error" for="listing_type">This field is required.</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">{{forms.field('price_ask', 'ASKING PRICE (HKD)')}}</div>
        <div class="col-md-6">{{forms.field('address', 'ADDRESS')}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">{{forms.field('name', 'NAME')}}</div>
        <div class="col-md-6">{{forms.field('mobile', 'MOBILE')}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">{{forms.field('email', 'EMAIL')}}</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{forms.privacy('property')}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="search-btn-wrapper">
            <button type="reset" class="common-btn">CLEAR</button>
          </div>
          <div class="search-btn-wrapper">
            <button id="sumbmit_list" class="common-btn">SUBMIT</button>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
          $('#list_property_form').validate({
            rules: {
              listing_type: "required",
              email: {
                required: true,
                email: true
              },
              name: {
                required: true,
              },
              price_ask: {
                required: true,
                number: true
              },
              mobile: {
                required: true,
                mobile: true
              },
              address: "required"
            }
          });
          $('#sumbmit_list').click(function() {
            if($('#list_property_form').valid()) {
              $.ajax({
                method: 'post',
                data: {
                  listing_type: $('input[name="listing_type"]').val(),
                  email: $('input[name="email"]').val(),
                  price_ask: $('input[name="price_ask"]').val(),
                  address: $('input[name="address"]').val(),
                  mobile: $('input[name="mobile"]').val(),
                  name: $('input[name="name"]').val()
                },
                dataType: 'json',
                url: '/api/list_property/',
                success: function() {
                  G.mNotic('Sent Successfully.');
                  $('#list_property_form')[0].reset();
                },
                error: function(err) {
                  G.mNotic('Sent Error.' + err.responseText, 'error');
                }
              });
            }
          });
        });
      </script>
    </form>
  </div>
  {% include "../base/footer.html" %}
</body>
</html>
